{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
</header>

<main class="content row" role="main">
<div class="col-md-8">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title"><strong>{{title}}</strong></h1>
            {{! Everything inside the #author tags pulls data from the author }}
            {{#author}}

                {{#if image}}
                <figure class="author-image">
                    <a class="img img-responsive" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                </figure>
                {{/if}}

                <section class="author">
                    <h5><a href="{{url}}">{{name}}</a></h5>
                </section>

            {{/author}}
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"> Last Updated: {{date format="DD MMMM YYYY"}}</time> 
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">
        </footer>

    </article>
    </div>
    <div class="col-md-3">
    <div class="row">
    <div class="col-md-12">
    <h4 class="headline">TOP WAYS TO SAVE MONEY</h4>
   {{#get "posts" filter="featured:true+id:-{{id}}" limit="1"}}
     {{#foreach posts}}
     <a href="{{url}}"><img class="feature-thumbnail" src={{image}} />
     <h5><strong>{{title}}</strong></h5></a>
     {{/foreach}}
  {{/get}}
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">



{{#get "posts" filter="featured:false+id:-{{id}}" limit="5" as |recents|}}
<div class="row">
<div class="col-md-12">
<h4 class="headline">YOU MIGHT ALSO LIKE</h4>
<div class="row">
<section class="recent-posts">
  <ul class="thumbnails">
  {{#foreach recents}}
    <a href={{url}}><li class="span4">
      <div class="recent-post right-caption span4">
      <div class="col-xs-4">
      <img src="{{image}}" />
      </div>
      <div class="col-xs-8 caption">
      {{title}}
      </div>
        <div class="clearfix"></div>

      </div>
    </li> </a>
    {{/foreach}}
  </ul>
</section>
</div>
</div>
</div>
{{/get}}






</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="fb-page"
  data-href="http://www.facebook.com/yourfinancialassistant.info/" 
  data-width="340"
  data-hide-cover="false"
  data-show-facepile="false"></div>
      </div>  </div>
</div>
        </div>
</main>

{{/post}}
